[submodule "rbv1.2-implementation"]
	path = rbv1.2-implementation
	url = https://github.com/701lab/rbv1.2-implementation
[submodule "nrf24l01p_impi"]
	path = nrf24l01p_impi
	url = https://github.com/701lab/nrf24l01p_impi
